.update-delivery {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  pupdateing: 30px 50px;
  margin: 20px 30px;
  border-radius: 6px;
  background: white;
}

.updatedelivery-itemfield {
  width: 100%;
  color: #7b7b7b8d;
  font-size: 16px;
}

.updatedelivery-itemfield input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  pupdateing-left: 15px;
  border: 1px solid #c3c3c3;
  outline: none;
  color: #7b7b7b;
  font-family: "Poppins";
  font-size: 14px;
  box-shadow: 0 0 8px 2px;
}

.updatedelivery-btn {
  margin-top: 20px;
  width: 160px;
  height: 50px;
  border-radius: 6px;
  background: #6079ff;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.updatedelivery-itemfield-desc {
  width: 100%;
  color: #7b7b7b;
  font-size: 16px;
}

.updatedelivery-itemfield-desc input {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  border-radius: 4px;
  pupdateing-left: 15px;
  border: 1px solid #c3c3c3;
  outline: none;
  color: #7b7b7b;
  font-family: "Poppins";
  font-size: 14px;
}

@media (max-width: 800px) {
  .update-delivery {
    width: auto;
    pupdateing: 30px;
    margin: 20px;
  }
}
