.ListReservation {
  font-family: 'Arial', sans-serif;
  color: #333;
}

.ListReservation h1 {
  text-align: center;
  margin-bottom: 20px;
}

.ListReservation-format-main {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #eaeaea;
}

.ListReservation-format {
  border: 1px solid #ddd;
  margin-top: 10px;
  padding: 10px;
}

.ListReservation-product-icon {
  width: 50px;
  height: auto;
}

.ListReservation-allorders > div:not(:last-child) {
  margin-bottom: 15px;
}

.ListReservation-format-main span {
  font-weight: bold;
  color: #007bff; 
}

.ListReservation-format-main.ListReservation-format {
  flex-direction: column;
  align-items: flex-start;
}

.ListReservation-format-main.ListReservation-format > p {
  margin: 5px 0;
}

.ListReservation-format-main.ListReservation-format img {
  object-fit: cover;
  margin-right: 10px;
}
