.item {
  width: 250px;
}

.item img {
  width: 250px;
}

.item p {
  margin: 6px 0px;
}

.item-prices {
  display: flex;
  gap: 20px;
}

.item-price-new {
  color: #374151;
  font-size: 18px;
  font-weight: 600;
}

.item-price-old {
  color: #8c8c8c;
  font-size: 18px;
  font-weight: 500;
  text-decoration: line-through;
}

.item:hover {
  transform: scale(1.05);
  transition: 0.6s;
  box-shadow: 0 0 20px 20px red;
}

@media (max-width: 1280px) {
  .item {
    width: 210px;
    font-size: 12px;
  }
  .item img {
    width: 210px;
  }
  .item-price-old {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .item {
    width: 150px;
    font-size: 10px;
  }
  .item img {
    width: 150px;
  }
  .item-price-old {
    font-size: 13px;
  }
}

@media (max-width: 800px) {
  .item {
    width: 110px;
    font-size: 11px;
  }
  .item img {
    width: 110px;
  }
  .item-price-old {
    font-size: 11px;
  }
}

@media (max-width: 500px) {
  .item {
    width: 160px;
  }
  .item img {
    width: 160px;
  }
}
