.shop-category {
  background-color: #fff;
  padding: 40px;
}

.shopcategory-banner {
  width: 100%;
  height: 280px;
  margin-bottom: 20px;
}

.shopcategory-indexSort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.shopcategory-indexSort p {
  font-size: 1.2rem;
  color: #333;
}

.shopcategory-sort {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  color: #555;
}

.shopcategory-sort img {
  margin-left: 10px;
}

.shopcategory-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.shopcategory-loadmore {
  text-align: center;
  padding: 10px 0;
  font-size: 1rem;
  padding: 0.8em 2em;
  background-color: #000;
  border: 3px solid yellow;
  border-radius: 1em;
  color: #fff;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px yellow;
}
.shopcategory-loadmore:hover {
  transform: translate(5px, -5px);
}

@media (max-width: 1280px) {
  .shopcategory-banner {
    margin: 20px auto;
    width: 90%;
  }
  .shopcategory-indexsort {
    width: 90%;
    margin: auto;
  }
  .shopcategory-sort {
    padding: 5px 10px;
    font-size: 12px;
  }
  .shopcategory-indexSort p {
    font-size: 12px;
  }
  .shopcategory-products {
    width: 90%;
    margin: 10px auto;
    row-gap: 40px;
  }
  .shopcategory-products .item {
    margin: auto;
  }
  .shopcategory-loadmore {
    margin: 100px auto;
    width: 200px;
    height: 60px;
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .shopcategory-banner {
    width: 95%;
  }
  .shopcategory-products {
    width: 95%;
  }
  .shopcategory-loadmore {
    margin: 60px auto;
    width: 150px;
    height: 40px;
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .shopcategory-products {
    grid-template-columns: 1fr 1fr;
  }
}
