.sidebar {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
}

.sidebar-item img {
  margin-right: 1rem;
}

.sidebar-item p {
  margin: 0;
  color: #333;
}

.side-dropdown {
  display: none;
  cursor: pointer;
  width: 30px;
  height: auto;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    transition: left 0.3s ease;
    z-index: 1500;
  }

  .side-menu-visible {
    left: 0;
  }

  .side-dropdown {
    display: block;
  }

  .sidebar-item {
    justify-content: start;
  }
}
