.sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 20px;
  width: 100%;
  max-width: 250px;
  height: 100vh;
  background: linear-gradient(
    to right,
    rgba(247, 251, 252, 1) 0%,
    rgba(217, 237, 242, 1) 40%,
    rgba(173, 217, 228, 1) 100%
  );
}

.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
  padding: 5px 10px;
  border-radius: 6px;
  background: #f6f6f6;
  gap: 20px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .sidebar {
    padding: 30px 0px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    max-width: none;
    height: auto;
    justify-content: center;
  }
  .sidebar-item {
    margin: 0 5px;
  }
}
