.list-users {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 740px;
  padding: 10px 50px;
  margin: 30px;
  border-radius: 6px;
  background: white;
}

.listusers-format-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
  padding: 20px 0px;
  color: #5f43d8e7;
  font-size: 15px;
  font-weight: 700;
}

.listusers-format {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
  padding: 20px 0px;
  font-weight: 400;
}

.listusers-format p {
  display: grid;
  gap: 6px;
  grid-template-columns: 1fr 70px 1fr 1fr 1fr;
}

.listusers-remove-icon {
  cursor: pointer;
  margin: auto;
}

.listusers-allusers {
  overflow-y: auto;
}

.updateuser {
  margin-top: 20px;
  display: flex;
}

.btn-updateuser {
  width: 80px;
  height: 40px;
  align-items: center;
  margin-top: 14px;
  margin-left: 10px;
  border-radius: 4px;
  background: #50d9ebbb;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 200;
}

.btn-removeuser {
  width: 80px;
  height: 30px;
  border-radius: 4px;
  background: #eb5050;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 13px;
  font-weight: 200;
}

.adduser {
  margin-top: 20px;
  display: flex;
}

.btn-adduser {
  width: 80px;
  height: 40px;
  align-items: center;
  margin-top: 14px;
  margin-left: 10px;
  border-radius: 4px;
  background: #62eb50c4;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 200;
}

@media (max-width: 800px) {
  .list-users {
    box-sizing: border-box;
    width: 95%;
    height: 100%;
    padding: 10px 30px;
    margin: 20px auto;
  }

  .listusers-format-main {
    padding: 15px 0px;
    color: #454545;
    font-size: 12px;
  }
}
